<h1>Add Item to Cart</h1>

<form class="" action="/checkout" method="post">

<label for="item">Item: </label>
<input type="text" name="item" value="" id="item" placeholder="Item">


<input type="submit" name="" value="Submit" id="submit">
</form>
